## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("C:\\Users\\angel\\OneDrive\\Desktop\\Class_Folder\\Module_6\\Vacation_Search\\WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,0,Sedalia,US,80.33,clear sky,38.7045,-93.2283,NaN
1,1,Atuona,PF,77.56,clear sky,-9.8000,-139.0333,NaN
2,3,Rikitea,PF,70.25,broken clouds,-23.1203,-134.9692,NaN
3,6,Vaini,TO,78.96,broken clouds,-21.2000,-175.2000,NaN
4,11,Victoria,HK,89.96,light rain,22.2855,114.1577,NaN

In [10]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

vacation_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,0,Sedalia,US,80.33,clear sky,38.7045,-93.2283,NaN
1,1,Atuona,PF,77.56,clear sky,-9.8000,-139.0333,NaN
2,3,Rikitea,PF,70.25,broken clouds,-23.1203,-134.9692,NaN
3,6,Vaini,TO,78.96,broken clouds,-21.2000,-175.2000,NaN
4,11,Victoria,HK,89.96,light rain,22.2855,114.1577,NaN
...,...,...,...,...,...,...,...,...
396,725,Boone,US,81.79,few clouds,39.0334,-92.3335,NaN
397,726,Samarai,PG,81.28,scattered clouds,-10.6167,150.6667,NaN
398,727,Rossano,IT,77.36,clear sky,39.5751,16.6349,NaN
399,728,Svirstroy,RU,72.54,broken clouds,60.7999,33.7248,NaN
400,729,Senno,RU,74.26,scattered clouds,59.5336,33.9167,NaN

In [11]:
# 4a. Add a marker layer for each city to the map.
locations = vacation_df[["Lat", "Lng"]]
max_temp = vacation_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
# 4b. Display the figure

fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = "Sedalia"
vacation_end = "Atouna"
city_1 = "Boone"
city_2 = "Rossano"
city_3 = "Senno"

vacation_start = vacation_df.loc[vacation_df["City"] == vacation_start]
vacation_end = vacation_df.loc[vacation_df["City"] == vacation_end]
vacation_stop1 = vacation_df.loc[vacation_df["City"] == city_1]
vacation_stop2 = vacation_df.loc[vacation_df["City"] == city_2] 
vacation_stop3 = vacation_df.loc[vacation_df["City"] == city_3]

In [14]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start[["Lat", "Lng"]].to_numpy()
end = vacation_end[["Lat", "Lng"]].to_numpy()
stop1 = vacation_stop1[["Lat", "Lng"]].to_numpy()
stop2 = vacation_stop2[["Lat", "Lng"]].to_numpy()
stop3 = vacation_stop3[["Lat", "Lng"]].to_numpy()

In [26]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

fig = gmaps.figure()
itinerary = gmaps.directions_layer(start, end, waypoints=[stop1, stop2, stop3], travel_mode = "DRIVING" or "BICYCLING" or "WALKING")
fig.add_layer(itinerary)
fig

TraitError: [[ 38.7045 -93.2283]] is not a valid location. Locations must have length 2.

In [21]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,0,Sedalia,US,80.33,clear sky,38.7045,-93.2283,NaN
1,725,Boone,US,81.79,few clouds,39.0334,-92.3335,NaN
2,727,Rossano,IT,77.36,clear sky,39.5751,16.6349,NaN
3,729,Senno,RU,74.26,scattered clouds,59.5336,33.9167,NaN

In [23]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """

<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp}</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,0,Sedalia,US,80.33,clear sky,38.7045,-93.2283,NaN
1,725,Boone,US,81.79,few clouds,39.0334,-92.3335,NaN
2,727,Rossano,IT,77.36,clear sky,39.5751,16.6349,NaN
3,729,Senno,RU,74.26,scattered clouds,59.5336,33.9167,NaN

In [24]:
# 11a. Add a marker layer for each city to the map.

fig = gmaps.figure()
markers = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(markers)

# 11b. Display the figure

fig

Figure(layout=FigureLayout(height='420px'))